@font-face {
  font-family: 'avenir-heavy-85';
  src:  url('[[font:theme|Avenir-LT-Std-85-Heavy_5177.ttf]]');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src:  url('[[font:theme|Roboto-Thin.ttf]]');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src:  url('[[font:theme|Roboto-Bold.ttf]]');
  font-weight: normal;
  font-style: normal;
}